<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link rel="shortcut icon" href="https://img.icons8.com/color/48/field.png" type="image/x-icon">
    {% block head %}{% endblock%}
    <title>{% block title%}Miguel Lawn Services {% endblock%}</title>
</head>
<body>
  <header>
    <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('prices') }}">Prices</a></li>
        <li><a href="{{ url_for('photos') }}">Photos</a></li>
        
    </ul>
  </header>
  <h1>Call Now 240-883-8479</h1>
    <div class="content">
        {% block content%}{% endblock %}
    </div>
    


    {% block script %}{% endblock %}
</body>
</html>