{% extends "base.html" %}

{% block content %}

 
<h1>Miguel laguna lanw services</h1>
 
<div class="contenido">
    <p>Pruning bushes, planting flowers, fertilizing trees and plants.
At this time we have the service to keep your garden properly clean by offering the work of trimming bushes, planting flowers and changing the hammer and putting small arguments on your property so that it stays clean and very pretty. We hope that you call us as soon as possible to give you a good price and we also offer the fertilization service for plants, trees and bushes and to always keep it clean and the bushes well trimmed.</p>
</div>
{% endblock %}


{% block script%}
<script src="{{ url_for('static', filename='app.js')}}"></script>
{% endblock %}
 