{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='prices.css') }}">
{% endblock%}

{% block content %}
<h1>Prices</h1>
<p>Lawn Mowing $80</p>

  <table id="contenido">
        <caption class="titulo">
          THE BEST PRICES IN THE AREA.
        </caption>

        <tr id="principal">
          <th class="id-s">id-S</th>
          <th class="services">Services</th>
          <th>Prices starts</th>
        </tr>
        <tr>
          <td>
            <img alt="foto-icons" src="https://img.icons8.com/fluency/28/null/sakura.png" class="fotos" loading="lazy" />
          </td>
          <td class="uno">Planting Flowers</td>

          <td class="uno"> $360</td>
        </tr>
        <tr>
          <td>
            <img  class="fotos"  alt="foto-icons" src="https://img.icons8.com/external-basicons-line-edtgraphics/28/null/external-bath-signs-basicons-line-edtgraphics.png" loading="lazy"  />
          </td>
          <td class="dos">Power Washing</td>
          <td class="dos">$360</td>
        </tr>
        <tr>
          <td>
            <img  class="fotos"  alt="foto-icons" src="https://img.icons8.com/color/28/null/lawn-mower.png" loading="lazy" />
          </td>
          <td class="tres">Lawn Mowing</td>
          <td class="tres"> $80</td>
        </tr>
        <tr>
          <td>
            <img  class="fotos"  alt="foto-icons" src="https://img.icons8.com/ios/28/null/yard-work.png" loading="lazy" />
          </td>
          <td class="cuatro">Yard Clean-Up</td>
          <td class="cuatro">$380</td>
        </tr>
        <tr>
          <td>
            <img  class="fotos"  alt="foto-icons" src="https://img.icons8.com/emoji/28/null/maple-leaf-emoji.png" loading="lazy" />
          </td>
          <td class="cinco">Leaf Removal</td>
          <td class="cinco">$260</td>
        </tr>
        <tr>
          <td>
            <img  class="fotos"  alt="foto-icons" src="https://img.icons8.com/external-flaticons-flat-flat-icons/28/null/external-fertilization-plants-flaticons-flat-flat-icons.png" loading="lazy" />
          </td>
          <td class="seis">Fertilization</td>
          <td class="seis">$160</td>
        </tr>
        <tr>
          <td>
            <img  class="fotos"  width="28" height="28" src="https://img.icons8.com/external-vectorslab-glyph-vectorslab/28/external-Mulch-construction-vectorslab-glyph-vectorslab.png" alt="external-Mulch-construction-vectorslab-glyph-vectorslab" loading="lazy" />
          </td>
          <td class="siete">Mulch Replacement</td>
          <td class="siete"> $260</td>
        </tr>
        <tr>
          <td>
            <img  class="fotos"  width="28" height="28" src="https://img.icons8.com/color/48/bush.png" alt="bush" loading="lazy" />
          </td>
          <td class="ocho">Trimming of Bushes</td>
          <td class="ocho">$250</td>
        </tr>
        <tr>
          <td>
            <img  class="fotos"  width="28" height="28" loading="lazy" src="https://img.icons8.com/external-flaticons-flat-flat-icons/64/external-sprayer-farm-flaticons-flat-flat-icons.png" alt="external-sprayer-farm-flaticons-flat-flat-icons" />
          </td>
          <td class="nueve">Weed Control</td>
          <td class="nueve">$160</td>
        </tr>
         <tr></tr>
          <td>
            <img  class="fotos"  width="28" height="28" loading="lazy" src="https://img.icons8.com/external-basicons-color-edtgraphics/50/external-Seeds-agriculture-basicons-color-edtgraphics.png" alt="external-sprayer-farm-flaticons-flat-flat-icons" />
          </td>
          <td class="dies">sowing grass seeds</td>
          <td class="dies">$300</td>
        </tr>
      </table>

{% endblock %}